.App {
  text-align: center;
}

body{
  background-color: rgb(33, 33, 33);
  width: 100%;
  height: 100%;
}

#nav-container{
  display: flex;
  width: 100%;
  color: white;
  background-color: rgb(33, 33, 33);
  top: 0;
}

#logo-name{
justify-content: flex-start;
}

.initial{
  color: tomato;
}

.about-me{
  color: white;
}

.hamburger{
  justify-content: flex-end;
  list-style-type: none;
  right: 0;
}

nav{
  justify-content: flex-end;
}

a{
  color: white;
  text-decoration: none;
  transition-duration: 0.3s;
}

a:hover{
  color: tomato;
}

.projectDivs{
  display: flex;
  color: white;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.project-one{
  height: 200px;
  width: 300px;
  background-image: url('./public/refugee-data.png');
  background-size: contain;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: gray;
}

.project-one:hover{
  filter: none;
  cursor: pointer;
}

.project-two{
  height: 200px;
  width: 300px;
  background-image: url('./public/lance-app-3.png');
  background-size: contain;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: gray;
  padding-bottom: 10px;
}

.project-two:hover{
  filter: none;
  cursor: pointer;
}

.project-three{
  height: 200px;
  width: 300px;
  background-image: url('./public/DWMP.png');
  background-size: contain;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: gray;
  padding-bottom: 10px;
}

.project-three:hover{
  filter: none;
  cursor: pointer;
}

.project-four{
  height: 200px;
  width: 300px;
  background-image: url('./public/refugee-data.png');
  background-size: contain;
  background-size: cover;
}
